[submodule "drivers/net/wireless/realtek/rtl8733bu"]
	path = drivers/net/wireless/realtek/rtl8733bu
	url = https://github.com/wirenboard/rtl8733bu
[submodule "drivers/tty/serial/soft_uart"]
	path = drivers/tty/serial/soft_uart
	url = https://github.com/sfera-labs/soft_uart
